@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Person
@{
    ViewData["title"] = "Create";
}
<h2>Create</h2>
<form method="post">
    <p>
        <label asp-for="Name">Your Name</label>
        <input asp-for="Name" />
    </p>

    <p>
        <label asp-for="Age">Age</label>
        <input asp-for="Age" />
    </p>

    <p>
        <label asp-for="Location">Location</label>
        <input asp-for="Location" />
    </p>
    <p><button type="submit">Submit</button></p>
</form>