@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Person
@{
    ViewData["Title"] = "Update";
}

<a asp-action="Index">View all person</a>
<h2>Update</h2>
<form method="post">
    <p>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Age">Age</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </p>
    <p>
        <label asp-for="Location">Location</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </p><button type="submit">Submit</button></p>
</form>